<%= render 'shared/error_messages', :object => f.object %>

<div class='field'>
  <%= f.label :Status %><br />
  <%= f.text_field :status %>
</div>
<div class='field'>
  <%= f.label :Nome_do_Status %><br />
  <%= f.text_field :nomestat %>
</div>

