<%= render 'shared/error_messages', :object => f.object %>

<div class='field'>
  <%= f.label :Numero %><br />
  <%= f.text_field :numero %>
</div>
<div class='field'>
  <%= f.label :Nome_do_Evento %><br />
  <%= f.text_field :nome %>
</div>
