<%= render 'shared/error_messages', :object => f.object %>


<div class='field'>
  <%= f.label :Maximo %><br />
  <%= f.text_field :maximo %>
</div>
<div class='field'>
  <%= f.label :Minimo %><br />
  <%= f.text_field :minimo %>
</div>

