<h2>Edita Parametros do Corretor</h2>
	
 <% if @novo == "SIM" %>

		<%= form_for(@cparametro) do |f|  %>
		<%= render 'fields', :f => f %> 
		<div class='actions'>
	  <%= f.submit "Update" %>
		</div>
		<% end %>
		
			<% else %>
		
<%= form_for(@cparametro) do |f|  %>
 
		<%= render 'fields2', :f => f %> 
		<div class='actions'>
	  <%= f.submit "Update" %>
		</div>
		<% end %>
	<% end %>
