	<table class="profile" summary="Profile information">

		<tr>
		<td 
		<td WIDTH="20%"> <%= evento.tipo_evento %></td>
		<td WIDTH="10%"> <%= evento.data %></td>
		<td WIDTH="30%"> <%= evento.observacao %></td>
		<td WIDTH="10%"> <%= evento.user %></td>
		<td WIDTH="17%"> <%= evento.created_at.to_s(:data_hora) %></td>
		</td>	

		</tr>
		
	
	
	</table>


 
		