

<%= search_form_for @q , :url => {:action => "index"} do |f| %>


<table class="profile" summary="Profile information">
  <tr>
  <td WIDTH="15%"> <%= f.label :numero_cont, "Numero Contem:" %></td>
  <td WIDTH="45%"> <%= f.text_field :numero_cont %></td>
  <td WIDTH="25%"> <div><%= f.submit "Pesquisar" %></div></td>
<% end %>
</tr>
</table>
<table class="profile" summary="Profile information">
	<tr>
		<th> Numero </th>
		<th> Operadora </th>
		<th> Tipo </th>
		<th> Status </th>
		<th> Venda </th>
		<th> Corretor </th>
	</tr>
	
   
 <%     @proposta_search2.each do |proposta| %>
 	<tr>
 	  
 	  <td WIDTH="15%"> <%= link_to proposta.numero %></td>
		
		<td WIDTH="10%"> <%= proposta.operadora %></td>
		<td WIDTH="10%"> <%= proposta.tipo %></td>
		<td WIDTH="10%"> <%= proposta.nome_status %></td>
		<td WIDTH="15%"> <%= proposta.data_status %></td>
		<td WIDTH="20%"> <%= proposta.corretor.nome %></td>
		<td WIDTH="15%"> <% if current_user.admin? %>	

			<%= link_to "Cria Evento", new_evento_path(proposta.id),
	#										:confirm => "voce esta certo? #{proposta.numero}",
											:title => "new => #{proposta.numero}"%>


			<% end %>	
		</td>

 	</tr>
 <% end %>	  

</table>