<%= render 'shared/error_messages', :object => f.object %>
<h3> Limites Totais de Propostas </h3>

<div class='field'>
  <%= f.label :Minimo %>
  <%= f.text_field :lmi, :size=> "5"  %>

  <%= f.label :Maximo %>
  <%= f.text_field :lms, :size=> "5"  %>
</div>
