<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h3>
        <%= @tipoproposta.operadora.nome %>
      </h3>
      <tr>
			<th>Tipo</th>
			<th>LMI</th>
			<th>LMS</th>
			<th> </th>
			
		</tr>
    	<tr>
			<td><%= @tipoproposta.tipo %></td>
			<td><%= @tipoproposta.lmi %></td>
			<td><%= @tipoproposta.lms %></td>
			<td class="sidebar round">
   
    <strong>Editar</strong>  <%= link_to (@tipoproposta.tipo), edit_tipoproposta_path(@tipoproposta)%>
    </td>
  </tr>
</table>

