<%= render 'shared/error_messages', :object => f.object %>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main2">

<div class='field01'>
  <h3> <%= @operadora.nome %> <%= @tipoproposta.tipo %> </h3>
  <%= f.label :p01 %>
  <%= f.text_field :p01, :size=> "5" %>

  <%= f.label :p02 %>
  <%= f.text_field :p02, :size=> "5" %>

  <%= f.label :p03 %>
  <%= f.text_field :p03, :size=> "5" %>

  <%= f.label :p04 %>
  <%= f.text_field :p04, :size=> "5" %>
  </div>
<div class='field01'>

  <%= f.label :p05 %>
  <%= f.text_field :p05, :size=> "5" %>

  <%= f.label :p06 %>
  <%= f.text_field :p06, :size=> "5" %>

  <%= f.label :p07 %>
  <%= f.text_field :p07, :size=> "5" %>

  <%= f.label :p08 %>
  <%= f.text_field :p08, :size=> "5" %>
</div>
<div class='field01'>
  <%= f.label :p09 %>
  <%= f.text_field :p09, :size=> "5" %>

  <%= f.label :p10 %>
  <%= f.text_field :p10, :size=> "5" %>

  <%= f.label :p11 %>
  <%= f.text_field :p11, :size=> "5" %>

  <%= f.label :p12 %>
  <%= f.text_field :p12, :size=> "5" %>
</div>
<div class='field01'>
  <%= f.label :Vitalicio %>
  <%= f.text_field :pvita, :size=> "5" %>
  

</div>
   </td>
    <td class="sidebar40 round">
<div class='field01'>
  <h3> Valido   </h3><br />
 
 <%= f.check_box :p01valid %>
 <%= f.check_box :p02valid %>
 <%= f.check_box :p03valid %>
 <%= f.check_box :p04valid %>

 
</div>
<div class='field01'><br />

 <%= f.check_box :p05valid %>
 <%= f.check_box :p06valid %>
 <%= f.check_box :p07valid %>
 <%= f.check_box :p08valid %>


</div>

<div class='field01'><br />
  
 <%= f.check_box :p09valid %>
 <%= f.check_box :p10valid %>
 <%= f.check_box :p11valid %>
 <%= f.check_box :p12valid %>
 

</div>
<div class='field01'><br />
  
 <%= f.check_box :pvitavalid %>
<b>  ___________| </b>

 <div class='field01'>
  <%= f.label :tipoproposta_id  %>
  <%= f.text_field :tipoproposta_id, :size=> "5", :readonly => true %>
</div>
  
</td>
  </tr>
</table>