<%= render 'shared/error_messages', :object => f.object %>

<div class='field'>
  <%= f.label :Operadora %>
  <%= f.text_field :nome %>
</div>
<div class='field'>
  <%= f.label :Marca %>
  <%= f.text_field :marca %>
</div>
<div class='field'>
  <%= f.label :Logo_url %>
  <%= f.text_field :logo_url %>
</div>
<div class='field'>
  <%= f.label :Corretora %>
  <%= f.text_field :corretora %>
</div>
<div class='field'>
  <%= f.label :Banco %>
  <%= f.text_field :banco %>
</div>
