<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
      <%= @operadora.nome %>
      </h1>
      <h5>
      <%= @operadora.banco %>
      </h5>
    </td>
    <td class="sidebar round">
   
    <strong>Editar</strong>  <%= link_to (@operadora.nome), edit_operadora_path(@operadora)%>
    <strong>Adicionar Novo Tipo</strong>  <%= link_to (@operadora.nome), new_tipoproposta_path(@operadora)%> 
    <td>
   
    </td>
  </tr>
</table>

	<table>
		<tr>
			<th>Tipo</th>
			<th>LMI</th>
			<th>LMS</th>
			<th> </th>
			<th> </th>
			<th> </th>
		</tr>
	<% @tipoproposta.each do |tp| %>

		<tr>
			<td><%= link_to tp.tipo, edit_tipoproposta_path( tp ) %></td>
			<td><%= tp.lmi %></td>
			<td><%= tp.lms %></td>
			<% if current_user.admin? %>
			<td> <%= link_to 'Deleta', tp, :method => :delete, 
			 																:confirm => "voce esta certo?" %></td>
			<% end %>
		</tr>
		
	<% end %>
	
	</table>



