<table class="profile" summary="Profile information">
	<tr>

view _proposta.html.erb de Contratos
	</tr>
	<tr>
		<td WIDTH="10%"> <%= link_to proposta.numero, proposta %></td>
		<td WIDTH="15%"> <%= proposta.operadora %></td>
		<td WIDTH="10%"> <%= proposta.tipo %></td>
		
		<td WIDTH="10%"> <%= proposta.nome_status %></td>
		<td WIDTH="10%"> <%= proposta.data_status.strftime("%d %b %Y") %></td>
		<td WIDTH="20%"> <%= proposta.corretor.nome %></td>
		


			<td WIDTH="4%"> <% if current_user.admin? %>	
			<%= link_to "Delete", proposta, :confirm => "voce esta certo?",
											:title => "Delete => #{proposta.numero}",
											:method => :delete %>
			<% end %> </td>

			<td WIDTH="10%"><%= link_to "Cria Evento", new_evento_path(proposta),
											:confirm => "voce esta certo? #{proposta.numero}",
											:title => "new => #{proposta.numero}"%>	
			<td WIDTH="10%"><%= link_to "Mostra Evento", eventos_show_path(proposta)%>										

											
				
		</td>
	
	<td>  </td>
	<td>  </td>
	</tr>	
	</table>		
