<table class="profile" summary="Profile information">
	<tr>



	</tr>
	<tr>
		<td WIDTH="15%"> <%= link_to histproposta.numero, histproposta %></td>
		
		
		<td WIDTH="15%"> <%= histproposta.operadora %></td>
		<td WIDTH="15%"> <%= histproposta.nome_status %></td>
		<td WIDTH="15%"> <%= histproposta.data_status %></td>
		<td WIDTH="30%"> <%= histproposta.corretor.nome %></td>
	
		</td>
	
	<td>  </td>
	<td>  </td>
	</tr>	
	</table>		
