<table class="profile" summary="Profile information">
	<tr>

<%= # nao esta vindo aqui propostah - esta indo para proposta - verificard depois %>

	</tr>
	<tr>
		<td WIDTH="15%"> <%= link_to propostah.numero, propostah %></td>
		
		
		<td WIDTH="15%"> <%= propostah.operadora %></td>
		<td WIDTH="15%"> <%= propostah.nome_status %></td>
		<td WIDTH="15%"> <%= propostah.data_status %></td>
		<td WIDTH="30%"> <%= propostah.corretor.nome %></td>
	
		</td>
	
	<td>  </td>
	<td>  </td>
	</tr>	
	</table>		