<%= render 'shared/error_messages', :object => f.object %>

<div class='field'>
  <%= f.label :Nome %><br />
  <%= f.text_field :nome %>
</div>
<div class='field'>
  <%= f.label :Endereço %><br />
  <%= f.text_field :endereco %>
</div>
<div class='field'>
  <%= f.label :CEP %><br />
  <%= f.text_field :cep %>
</div>
<div class='field'>
  <%= f.label :CPF %><br />
  <%= f.text_field :cpf %>
</div>
<div class='field'>
  <%= f.label :Telefone_1 %><br />
  <%= f.text_field :telefone1 %>
</div>
<div class='field'>
  <%= f.label :Telefone_2 %><br />
  <%= f.text_field :telefone2 %>
</div>
<div class='field'>
  <%= f.label :Banco %><br />
  <%= f.text_field :banco %>
</div>
<div class='field'>
  <%= f.label :Agencia %><br />
  <%= f.text_field :agencia %>
</div>
<div class='field'>
  <%= f.label :Conta %><br />
  <%= f.text_field :conta %>
</div>
<div class='field'>
  <%= f.label :Comentario %><br />
  <%= f.text_area :comentario %>
</div>
