<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
      <%= @corretor.nome %> -   Total de Proposta:
      <%= @campo %>
      </h1>
     
    </td>
    <td class="sidebar round">
   
     <%= link_to "Editar Dados Corretor", edit_corretor_path(@corretor)%><br />		   			
     <%= link_to "Adicionar Limites",  new_cparametro_path(@corretor)%><br />
     <%= link_to "Associar Propostas", associa_path(@corretor)%><br />
    </td>
  </tr>
</table>

<table>
    <tr>
      <th>Operadora</th>
      <th>Tipo</th>
      <th>Quantidade</th>
      <th> </th>
    </tr>
	
<% @tipoproposta.each do |tp| %>	
<tr>
     
     <td><%= tp.operadora.nome %></td> 
     <td><%= tp.tipo %></td> 
     <td><%= @campo2.where(:tipoproposta_id =>[tp.id]).count %></td>
      
    </tr>
    
  <% end %>






<%= search_form_for @q do |f| %>
  <%= f.label :numero %>
  <%= f.text_field :numero_cont %>

  <%= f.submit %>
<% end %>	
<table class="profile" summary="Profile information">
	<tr>
		
		<th WIDTH="10%">Numero </th>
		<th WIDTH="14%"> Operadora </th>
		<th WIDTH="10%"> Tipo </th>
		<th WIDTH="10%"> Status </th>
		<th WIDTH="9%"> Data </th>
		<th WIDTH="50%"> Corretor </th>
		

	</tr>
</table>

<%= render @propostashow %>
<%= will_paginate @propostashow %>

