<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
      <%= @corretor.nome %>
      </h1>
      <h5>
      <%= @corretor.banco %>
      </h5>
    </td>
    <td class="sidebar round">
   
     <%= link_to "Editar Dados Corretor", edit_corretor_path(@corretor)%><br />		   			
     <%= link_to "Adicionar Limites",  new_cparametro_path(@corretor)%><br />
     <%= link_to "Associar Propostas", associa_path(@corretor)%><br />
    </td>
  </tr>
</table>
	
	<table>
		<tr>
			<th>Operadora </th>
			<th> Tipo </th>
			<th>Maximo</th>
			<th>Minimo</th>
			<th>Propostas</th>
			<th>Total</th>
			<th> </th>
			<th> </th>
		</tr>
	<% @cparametro.each do |tp| %>
			

		<tr>
			<td><%= tp.operadora.nome %></td>
			<td><%= link_to tp.tipoproposta.tipo, edit_cparametro_path( tp ) %></td>
			<td><%= tp.maximo %></td>
			<td><%= tp.minimo %></td>
			<td><%= @propostas_status7_do_corretor.where( :tipoproposta_id => tp.tipoproposta_id).count %></td>
			<td><%= @propostacount %></td>
			<% if current_user.admin? %>
			<td> <%= link_to 'Deleta', tp, :method => :delete, 
			 																:confirm => "voce esta certo?",
														      		 :title => "Delete => #{tp.tipoproposta.tipo}" %></td>
			<% end %>	
														      		 
		</tr>
		
	<% end %>
</table>

