<script type="text/javascript">
jQuery(function($j) {
  // when the #operadora field changes
  $("#proposta_operadora_id").change(function() {
    // make a POST call and replace the content
    var operadora = $('select#proposta_operadora_id :selected').val();
     if(operadora == "") operadora="0";
	//		alert(operadora)
    jQuery.get('/propostas/update_tipo_div/' + operadora, function(data){
       
    })
    return false;
  });

})

</script>


<%= render 'shared/error_messages', :object => f.object %>

<div class='field'>
  <%= f.label :Numero %><br />
  <%= f.text_field :numero %>
</div>
 
<div class='field'>
  <%= f.label :Operadora %><br />
  <%= f.collection_select( "operadora_id", @operadora, :id, :nome,
  										 {:prompt => 'Por Favor selecione a operadora'}) %>
</div>

<div id='tipo'>
<%= f.label :tipoproposta %><br />
<%= f.collection_select("tipoproposta_id", @tipoproposta, :id, :tipo,
  										 {:prompt => 'selecione o Tipo de Proposta.'}) %>
</div>  										 
  										 

<div class='datepicker'>
<table class="datepicker" >
	<tr>
	</tr>
	<tr>

		<td WIDTH="40%"> <%= f.label :Data_Entrada %><br /> </td>
			<td WIDTH="50%"> <%= f.datepicker :data_entrada, :value => Date.today.to_s %></td>
      
	</tr>	
</table>	
</div>
<div class='field'>
  <%= f.label :Observacao %><br />
  <%= f.text_area :observacao %>
</div>



