<%= render 'shared/error_messages', :object => f.object %>


<div class='field'>
  <%= @proposta.numero %><br />
  <%= @proposta.nome_status %><br />
  
</div>
<div class='field'>
  <%= f.label :Observacao %><br />
  <%= f.text_area :observacao, :id => "comentario_area"  %>
</div>

