
<%= form_for(@proposta) do |f|  %>

<div class='field'>
	
<%= collection_select(:proposta, :status, @stat, :id, :nomestat ) %>

<div >
<table class="datepicker" >
	<tr>
	</tr>
	<tr>
		
			<td WIDTH="50%"> <%= f.label :data_status %><br /> </td> 
		<td WIDTH="30%"> <%= f.text_field :data_status , :class => "datepicker", :value => Date.today.to_s %></td>
	</tr>	
</table>	
</div>

 

</div>
	<table >
		<tr>
		<td WIDTH="10%"><%= f.submit "Altera Status" %>
		
		</tr>
	</table>
<% end %>

<div>		
<%= button_to "Volta para Todas as Propostas", propostas_path, :method => "get" %>, 
<%= button_to "Volta para Todos os Corretores", corretors_path, :method => "get" %>
</div>		
