
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
      <%= @proposta.numero %><br />

    
      </h1>
     
     
      <h5>
     
      </h5>
    </td>
    <td class="sidebar round">
   
   <%=  link_to @corretor.nome, @corretor %><br />  			
 
    </td>
  </tr>
</table>

	<table class="profile" summary="Profile information">
		<tr>
			<th>Numero</th>
			<th>Operadora</th>
			<th>Tipo</th>
			<th>status</th>
			<th>Data Status</th>
			<th>Data Entrada</th>
			<th>Nome Corretor</th>
		</tr>
			<td><%= @proposta.numero %></td>
			<td><%= @proposta.operadora %></td>
			<td><%= @proposta.tipo %></td>
			<td><%= @proposta.nome_status %></td>
			<td><%= @proposta.data_status %></td>
			<td><%= @proposta.data_entrada %></td>
			<td><%= @corretor.nome  %></td>
		</tr>
		
	
	
	</table>


 
		<%= render 'show_change_status' %> 
	